ul{
  list-style:  none;
}
input, select, a, button{
  outline: none;
}
/* 定位 */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.no-scroll {
  height: 100%;
  overflow-y: auto;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* 文本居中 */
.tx-lf {
  text-align: left;
}

.tx-ct {
  text-align: center;
}

.tx-rt {
  text-align: right;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

/* 浮动 */
.left,
.pull-left {
  float: left;
}

.right,
.pull-right {
  float: right;
}

.clearfix {
  zoom: 0;
  clear: both;
}

.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* 盒子模型 */
.block {
  display: block;
}

.in-block {
  display: inline-block;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pd-5 {
  padding-bottom: 5px;
}

.pd-10 {
  padding-bottom: 10px;
}

.pd-15 {
  padding-bottom: 15px;
}

.pd-20 {
  padding-bottom: 20px;
}

.pd-30 {
  padding-bottom: 30px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}
